
footer.footer_area
    img.p_absolute.leaf(src='img/v.svg' alt='')
    img.p_absolute.f_man.wow.fadeInLeft(data-wow-delay='0.4s' src='img/home_two/f_man.png' alt='')
    img.p_absolute.f_cloud(src='img/home_two/cloud.png' alt='')
    img.p_absolute.f_email(src='img/home_two/email-icon.png' alt='')
    img.p_absolute.f_email_two(src='img/home_two/email-icon_two.png' alt='')
    img.p_absolute.f_man_two.wow.fadeInLeft(data-wow-delay='0.2s' src='img/home_two/man.png' alt='')
    .footer_top
        .container
            .row
                .col-lg-4.col-sm-6
                    .f_widget.subscribe_widget.wow.fadeInUp
                        h3.f_title Get In Touch
                        p
                            | Want to know about our community ! Then drop a message below. Our Team will contact you.
                        form.footer_subscribe_form(action='#')
                            input.form-control(type='email' placeholder='Email')
                            button.s_btn(type='submit') Send
                        ul.list-unstyled.f_social_icon
                            li
                                a(href='https://www.facebook.com/profile.php?id=100084982395107&mibextid=ZbWKwL' target="_blank")
                                    i.social_facebook
                            li
                                a(href='https://twitter.com/YcyClass?t=EE4v2mtE5Ao08NHMD6CzUg&s=08' target="_blank")
                                    i.social_twitter
                            li
                                a(href='https://instagram.com/ycy_classes?igshid=NTA5ZTk1NTc=' target="_blank")
                                    i.social_instagram
                            li
                                a(href='https://www.linkedin.com/mwlite/company/ycy-class' target="_blank")
                                    i.social_linkedin
                .col-lg-3.col-sm-6
                    .f_widget.link_widget.pl_30.wow.fadeInUp(data-wow-delay='0.2s')
                        h3.f_title  Info
                        ul.list-unstyled.link_list
                            li
                                a(href='/about-us') About Us 

                            li
                                a(href='/view-blogs') Blog
                            li
                                a(href='/contact-us') Contact Us

                            li
                                a(href='/student-review') Student Review
                            li
                                a(href='/upload-notes') Upload Notes
                            li
                                a(href='/one-to-one-classes') One To One

                .col-lg-3.col-sm-6
                    .f_widget.link_widget.pl_70.wow.fadeInUp(data-wow-delay='0.6s')
                        h3.f_title Coming Soon...
                        ul.list-unstyled.link_list
                            //- li
                            //-     a(href='/book-review') Book Review
                            //- li
                            //-     a(href='/book-review-view') Book Reviews
                            //- li
                            //-     a(href='/book-ask-question') Book Ask Question
                            //- li
                            //-     a(href='/college-review') College Review
                            //- li
                            //-     a(href='/college-review-view') College Reviews
                            //- li
                            //-     a(href='/college-ask-question') College Ask Question
                            li
                                a Book Review
                            li
                                a Book Reviews
                            li
                                a Book Ask Question
                            li
                                a College Review
                            li
                                a College Reviews
                            li
                                a College Ask Question
                                


            .border_bottom
    .footer_bottom.text-center
        .container
            p
                | &copy; 2022 All Rights Reserved by 
                a(href='ycy.com') YCYCLASS.COM