
script(src='/js/jquery-3.2.1.min.js')
script(src='/js/pre-loader.js')
script(src='/assets/bootstrap/js/popper.min.js')
script(src='/assets/bootstrap/js/bootstrap.min.js')
script(src='/js/parallaxie.js')
script(src='/js/TweenMax.min.js')
script(src='/js/jquery.wavify.js')
script(src='/assets/wow/wow.min.js')
script(src='/assets/counterup/jquery.counterup.min.js')
script(src='/assets/counterup/jquery.waypoints.min.js')
script(src='/js/main.js')
//- // === jQuery Min Js ===
script(src='/assets/js/jquery-3.6.0-main.js')
//- // === jQuery Waypoint Js ===
script(src='/assets/js/waypoint-4.0.1.js')
//- // === jQuery Aos Min Js ===
script(src='/assets/js/aos.min.js')

script(src='/js/bundle.js') 

