doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon' href='img/favicon.ico' type='image/x-icon')
    // Bootstrap CSS
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
    // icon css
    link(rel='stylesheet' href='assets/elagent-icon/style.css')
    link(rel='stylesheet' href='assets/animation/animate.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/responsive.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    title YCY
.body_wrapper
    include _header 
    // Banner Section Start
    section.breadcrumb_area
        img.p_absolute.bl_right(src='img/home_one/b_leaf.svg' alt='')
        img.p_absolute.star(src='img/home_one/banner_bg.png' alt='')
        img.p_absolute.wave_shap_one(src='img/blog-classic/shap_01.png' alt='' style='width:100%')
        img.p_absolute.wave_shap_two(src='img/blog-classic/shap_02.png' alt='' style='width:100%')
        img.p_absolute.one.wow.fadeInRight(src='img/home_one/b_man_two.png' alt='')
        .container.custom_container
            //
                <form action="#" class="banner_search_form">
                <input type="search" class="form-control" placeholder="Search the Knowledge Base">
                <button type="submit" class="search_btn"><i class="fas fa-search"></i></button>
                </form>
    // Banner Section End
    section.about-section
        .container
            .row
                .content-column.col-lg-6.col-md-12.col-sm-12.order-2
                    .inner-column
                        .sec-title
                            span.title About Us
                            h2
                                | Our Intention 
                                br
                        .text
                            | We are the first community in Odisha thinking of students problems regarding their academic doubts in studing.
                            | Our intention is to help students make their study easier.We are creating a student teacher community where students can found so much benefits in one platform.This is a multitasking platform and the main function of this platform is to solve all the types of doubt of students in just 50 sec and to save their time.
                        ul.list-style-one
                            li Get your Tutor within 50 seconds.
                            li Feel comfortable to ask tutor.
                            li Solve your doubt.
                        .btn-box
                            a.theme-btn.btn-style-one(href='/contact-us') Contact Us
                // Image Column
                .image-column.col-lg-6.col-md-12.col-sm-12
                    .inner-column.wow.fadeInLeft
                        figure.image-1
                            a.lightbox-image(href='#' data-fancybox='images')
                                //- img(src='https://i.ibb.co/QP6Nmpf/image-1-about.jpg' alt='')
                                img(src='img/learning-1.png' alt='')

                        figure.image-2
                            a.lightbox-image(href='#' data-fancybox='images')
                                //- img(src='https://i.ibb.co/JvN0NVB/image-2-about.jpg' alt='')
                                img(src='img/learning-2.jpg' alt='' width="270" height="280")
    // ---------------- OUR INSTRUCTOR SECTION START -----------
    //- section.doc_solution_area.pt-5.pb-5
    //-     .container-fluid.mt-4.pt-2.pb-5
    //-         .slider
    //-             .user-card
    //-                 img(src='img/Group 2196.png' alt='User image')
    //-                 .user-info
    //-                     div
    //-                         h3 John Doe
    //-                         p Science Teacher
    //-                     button.btn Follow
    //-             .user-card
    //-                 img(src='img/Mask group.png' alt='User image')
    //-                 .user-info
    //-                     div
    //-                         h3 John Doe
    //-                         p Chemistry Teacher
    //-                     button.btn Follow
    //-                 .d-flex.justify-content-between
    //-                     p 19 Course
    //-                     p 25,599 Students
    //-                     p 4.8
    //-             .user-card
    //-                 img(src='img/Group 2196.png' alt='User image')
    //-                 .user-info
    //-                     div
    //-                         h3 John Doe
    //-                         p Chemistry Teacher
    //-                     button.btn Follow
    //-             .user-card
    //-                 img(src='img/Mask group.png' alt='User image')
    //-                 .user-info
    //-                     div
    //-                         h3 John Doe
    //-                         p Chemistry Teacher
    //-                     button.btn Follow
    //-             .user-card
    //-                 img(src='img/Group 2196.png' alt='User image')
    //-                 .user-info
    //-                     div
    //-                         h3 John Doe
    //-                         p Chemistry Teacher
    //-                     button.btn Follow
    //-             .user-card
    //-                 img(src='img/Mask group.png' alt='User image')
    //-                 .user-info
    //-                     div
    //-                         h3 John Doe
    //-                         p Chemistry Teacher
    //-                     button.btn Follow
    // ---------------- OUR INSTRUCTOR SECTION END -----------
    section.doc_fun_fact_area
        .animated-waves
            svg.animated-wave(width='100%' height='100%' version='1.1' xmlns='http://www.w3.org/2000/svg')
                title Wave
                defs
                path#animated-wave-three(d='')
            svg.animated-wave(width='100%' height='100%' version='1.1' xmlns='http://www.w3.org/2000/svg')
                title Wave
                defs
                path#animated-wave-four(d='')
        .container
            .row
                //- .col-lg-3.col-md-3.col-sm-6.wow.fadeInUp
                //-     .doc_fact_item
                //-         .counter 5486
                //-         p Happy Student
                //- .col-lg-3.col-md-3.col-sm-6.wow.fadeInUp(data-wow-delay='0.2s')
                //-     .doc_fact_item
                //-         .counter 642
                //-         p Cups of Coffee
                //- .col-lg-3.col-md-3.col-sm-6.wow.fadeInUp(data-wow-delay='0.4s')
                //-     .doc_fact_item
                //-         .counter 100
                //-         p Finished Projects
                //- .col-lg-3.col-md-3.col-sm-6.wow.fadeInUp(data-wow-delay='0.6s')
                //-     .doc_fact_item
                //-         .counter 476
                //-         p Staff Members
    include _footer
// Back to top button
a#back-to-top(title='Back to Top')
include _js
