doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon' href='img/ycylogo.png' type='image/x-icon')
    // Bootstrap CSS
    link(rel='stylesheet' href='./assets/bootstrap/css/bootstrap.min.css')
    // icon css
    link(rel='stylesheet' href='./assets/elagent-icon/style.css')
    link(rel='stylesheet' href='./assets/animation/animate.css')
    link(rel='stylesheet' href='./css/style.css')
    link(rel='stylesheet' href='./css/responsive.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    title YCY
.body_wrapper
    include _header 
    section.breadcrumb_area
        img.p_absolute.bl_right(src='img/home_one/b_leaf.svg' alt='')
        img.p_absolute.star(src='img/home_one/banner_bg.png' alt='')
        img.p_absolute.wave_shap_one(src='img/blog-classic/shap_01.png' alt='')
        img.p_absolute.wave_shap_two(src='img/blog-classic/shap_02.png' alt='')
        img.p_absolute.one.wow.fadeInRight(src='img/home_one/b_man_two.png' alt='')
        .container.custom_container

    section.doc_solution_area.pt-5.pb-5
        .container
            .row
                .col-md-9
                    .ask_question
                        h5=question.question
                        .answer_section.d-flex.mt-4.justify-content-between(style='border: none;')
                            p
                                i.fa.fa-user.mr-2
                                | question.userId.name
                        form
                            .form-group.wow.fadeInLeft.answer--form(data-ids=`${JSON.stringify( {user: user.id, question: question.id })}`)
                                textarea#answer.form-control(rows='3' placeholder='Write Your Answer......')
                            button submit
                .col-md-3
                    aside
                        .status.wow.fadeInRight
                            h5 Find Us
                            hr
                            .butto_type_fb.mt-2.text-white.d-flex.justify-content-between
                                i.fab.fa-facebook.bg_primary
                                p.text-white.mt-2 Facebook
                            .butto_type_tweet.mt-2.text-white.d-flex.justify-content-between
                                i.fab.fa-twitter.bg_primary
                                p.text-white.mt-2 Twitter
                            .butto_type_youtube.mt-2.text-white.d-flex.justify-content-between
                                i.fab.fa-youtube.bg_primary
                                p.text-white.mt-2 Youtube
    include _footer
include _js