doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon' href='img/ycylogo.png' type='image/x-icon')
    // Bootstrap CSS
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
    // icon css
    link(rel='stylesheet' href='assets/elagent-icon/style.css')
    link(rel='stylesheet' href='assets/animation/animate.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/responsive.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    title Book Review
    style.
        .book_section{
            padding:10px 0px;
            background-color: #fff;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            border-radius: 6px;
            margin-top: 10px;
        }
.body_wrapper
    include _header
    section.breadcrumb_area
        img.p_absolute.bl_right(src='img/home_one/b_leaf.svg' alt='')
        img.p_absolute.star(src='img/home_one/banner_bg.png' alt='')
        img.p_absolute.wave_shap_one(src='img/blog-classic/shap_01.png' alt='')
        img.p_absolute.wave_shap_two(src='img/blog-classic/shap_02.png' alt='')
        img.p_absolute.one.wow.fadeInRight(src='img/home_one/b_man_two.png' alt='')
        .container.custom_container
            form.banner_search_form.d-flex(action='#')
                input.form-control(type='search' placeholder='Search For Book')
                button.search_btn(type='submit')
                    i.fas.fa-search
    section.doc_solution_area.pt-2.pb-2
        .container
            .row.mt-3
                .col-md-6
                    .book_section
                        a(href='/book-review-details')
                            .row
                                .col-md-3
                                    img.img-fluid(src='./img/Rectangle 1694.png')
                                .col-md-9.mt-2.mb-2
                                    p What is the price of this book ?
                                    .row.mt-4
                                        .col-md-5
                                            p
                                                i.fa.fa-message
                                                | 2 Answers
                                        .col-md-7
                                            span
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true')
                                                i.fa.fa-star(aria-hidden='true')
                .col-md-6
                    .book_section
                        a(href='/book-review-details')
                            .row
                                .col-md-3
                                    img.img-fluid(src='./img/Rectangle 1694.png')
                                .col-md-9.mt-2.mb-2
                                    p What is the price of this book ?
                                    .row.mt-4
                                        .col-md-5
                                            p
                                                i.fa.fa-message
                                                | 2 Answers
                                        .col-md-7
                                            span
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true')
                                                i.fa.fa-star(aria-hidden='true')
                .col-md-6.mt-2
                    .book_section
                        a(href='/book-review-details')
                            .row
                                .col-md-3
                                    img.img-fluid(src='./img/Rectangle 1694.png')
                                .col-md-9.mt-2.mb-2
                                    p What is the price of this book ?
                                    .row.mt-4
                                        .col-md-5
                                            p
                                                i.fa.fa-message
                                                | 2 Answers
                                        .col-md-7
                                            span
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true')
                                                i.fa.fa-star(aria-hidden='true')
                .col-md-6.mt-2
                    .book_section
                        a(href='/book-review-details')
                            .row
                                .col-md-3
                                    img.img-fluid(src='./img/Rectangle 1694.png')
                                .col-md-9.mt-2.mb-2
                                    p What is the price of this book ?
                                    .row.mt-4
                                        .col-md-5
                                            p
                                                i.fa.fa-message
                                                | 2 Answers
                                        .col-md-7
                                            span
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true')
                                                i.fa.fa-star(aria-hidden='true')
                .col-md-6.mt-2
                    .book_section
                        a(href='/book-review-details')
                            .row
                                .col-md-3
                                    img.img-fluid(src='./img/Rectangle 1694.png')
                                .col-md-9.mt-2.mb-2
                                    p What is the price of this book ?
                                    .row.mt-4
                                        .col-md-5
                                            p
                                                i.fa.fa-message
                                                | 2 Answers
                                        .col-md-7
                                            span
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true')
                                                i.fa.fa-star(aria-hidden='true')
                .col-md-6.mt-2
                    .book_section
                        a(href='/book-review-details')
                            .row
                                .col-md-3
                                    img.img-fluid(src='./img/Rectangle 1694.png')
                                .col-md-9.mt-2.mb-2
                                    p What is the price of this book ?
                                    .row.mt-4
                                        .col-md-5
                                            p
                                                i.fa.fa-message
                                                | 2 Answers
                                        .col-md-7
                                            span
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true')
                                                i.fa.fa-star(aria-hidden='true')
    include _footer
include _js
