doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon' href='img/ycylogo.png' type='image/x-icon')
    // Bootstrap CSS
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
    // icon css
    link(rel='stylesheet' href='assets/elagent-icon/style.css')
    link(rel='stylesheet' href='assets/animation/animate.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/responsive.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    title Book Review 
.body_wrapper
    include _header
    section.breadcrumb_area
        img.p_absolute.bl_right(src='img/home_one/b_leaf.svg' alt='')
        img.p_absolute.star(src='img/home_one/banner_bg.png' alt='')
        img.p_absolute.wave_shap_one(src='img/blog-classic/shap_01.png' alt='')
        img.p_absolute.wave_shap_two(src='img/blog-classic/shap_02.png' alt='')
        img.p_absolute.one.wow.fadeInRight(src='img/home_one/b_man_two.png' alt='')
        .container.custom_container
            form.banner_search_form.d-flex(action='#')
                input.form-control(type='search' placeholder='Search the Knowledge Base')
                button.search_btn(type='submit')
                    i.fas.fa-search
    section.doc_solution_area.pt-2.pb-2
        .container
            .row
                .col-md-8
                    .teacher_section(style='border:none;margin-top: 0px;padding: 5px 10px')
                        .d-flex.align-items-center
                            img.img-fluid(src='img/Ellipse 1.png')
                            div
                                p.ml-3.mt-3.mb-0 Sudeep Mohapatra
                                p.ml-3.mb-0 22/7/2022
                        .mt-1
                            .answer_section.mt-4.d-flex.justify-content-between(style='border:none;') 
                                h6 What is the benifits of this book ?
                                button.btn-5 Add Answer
                    .ask_question.p-1
                        .q_answer_section
                            .d-flex.align-items-center
                                img.img-fluid(src='img/Ellipse 1.png')
                                div
                                    p.ml-3.mb-0 Sudeep Mohapatra
                                    p.ml-3.mb-0
                                        | 22/7/2022 
                                        span.ml-2 8th class 
                            ul.mt-3
                                li
                                    | Im&#x8D;rove business &#x8D;rocesses. Com&#x8D;anies collect data about business
                                    | &#x8D;rocesses, such sales, order &#x8D;rocessing and customer service. They
                                    | analyze that data to im&#x8D;rove these &#x8D;rocesses, ex&#x8D;and their business and
                                    | grow revenue.
                                li
                                    | &cent; Improve business processes. Companies collect data about business processes, such
                                    | sales, order processing and customer service. They analyze that data to improve
                                    | these processes, expand their business and grow revenue.
                            .like_dislike_section
                                i.fa.fa-heart
                                i.fa.fa-thumbs-up
                                i.fa.fa-thumbs-down
                .col-md-4
                    aside
                        .book_img.wow.fadeInRight
                            img.img-fluid(src='img/math.jpg')
                            h5 Math Matics
                            p
                                | Author :-R.S Sharma
    section.doc_solution_area.pt-3.pb-5.mt-4(class=',')
        .container
            .row
                .col-md-8
                    .teacher_section(style='border:none;margin-top: 0px;padding: 5px 10px')
                        .d-flex.align-items-center
                            img.img-fluid(src='img/Ellipse 1.png')
                            div
                                p.ml-3.mt-3.mb-0 Sudeep Mohapatra
                                p.ml-3.mb-0 22/7/2022
                        .mt-1
                            .answer_section.mt-4.d-flex.justify-content-between(style='border:none;') 
                                h6 What is the benifits of this book ?
                                button.btn-5 Add Answer
                    .ask_question.p-1
                        .q_answer_section
                            .d-flex.align-items-center
                                img.img-fluid(src='img/Ellipse 1.png')
                                div
                                    p.ml-3.mb-0 Sudeep Mohapatra
                                    p.ml-3.mb-0
                                        | 22/7/2022 
                                        span.ml-2 8th class 
                            ul.mt-3
                                li
                                    | Im&#x8D;rove business &#x8D;rocesses. Com&#x8D;anies collect data about business
                                    | &#x8D;rocesses, such sales, order &#x8D;rocessing and customer service. They
                                    | analyze that data to im&#x8D;rove these &#x8D;rocesses, ex&#x8D;and their business and
                                    | grow revenue.
                                li
                                    | &cent; Improve business processes. Companies collect data about business processes, such
                                    | sales, order processing and customer service. They analyze that data to improve
                                    | these processes, expand their business and grow revenue.
                            .like_dislike_section
                                i.fa.fa-heart
                                i.fa.fa-thumbs-up
                                i.fa.fa-thumbs-down
                .col-md-4
                    aside.mt-5
                        .book_section
                            .row
                                .col-md-3
                                    img.img-fluid(src='./img/notes.png')
                                .col-md-9.mt-2.mb-2
                                    p What is the price of this book ?
                                    .row.mt-4
                                        .col-md-5
                                            p
                                                i.fa.fa-message
                                                | 2 Answers
                                        .col-md-7
                                            span
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true')
                                                i.fa.fa-star(aria-hidden='true')
                        .book_section
                            .row
                                .col-md-3
                                    img.img-fluid(src='./img/notes.png')
                                .col-md-9.mt-2.mb-2
                                    p What is the price of this book ?
                                    .row.mt-4
                                        .col-md-5
                                            p
                                                i.fa.fa-message
                                                | 2 Answers
                                        .col-md-7
                                            span
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true')
                                                i.fa.fa-star(aria-hidden='true')
                        .book_section
                            .row
                                .col-md-3
                                    img.img-fluid(src='./img/notes.png')
                                .col-md-9.mt-2.mb-2
                                    p What is the price of this book ?
                                    .row.mt-4
                                        .col-md-5
                                            p
                                                i.fa.fa-message
                                                | 2 Answers
                                        .col-md-7
                                            span
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true')
                                                i.fa.fa-star(aria-hidden='true')
                        .book_section
                            .row
                                .col-md-3
                                    img.img-fluid(src='./img/notes.png')
                                .col-md-9.mt-2.mb-2
                                    p What is the price of this book ?
                                    .row.mt-4
                                        .col-md-5
                                            p
                                                i.fa.fa-message
                                                | 2 Answers
                                        .col-md-7
                                            span
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true' style='color:#FF9529;')
                                                i.fa.fa-star(aria-hidden='true')
                                                i.fa.fa-star(aria-hidden='true')
    include _footer
include _js 