doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon' href='img/ycylogo.png' type='image/x-icon')
    // Bootstrap CSS
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
    // icon css
    link(rel='stylesheet' href='assets/elagent-icon/style.css')
    link(rel='stylesheet' href='assets/animation/animate.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/responsive.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    title YCY
    style.
        //- /MENTORSHIP SECTION START/
        .Classes img{
            width: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .left_div ul li{
            color: #000;
            line-height: 35px;
        }
        .right_div img{
            width: 500px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (max-width: 480px) {
            .right_div img{
            width: 350px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #mentor-button img{
            width: 340px;
        }
        #mentor-button{
            position: relative;
            top: 0px;
        }
        #mentor-button .btn2{
            position: absolute;
            top: 130px;
            left: 70px;
        }

        }
        .round_shape{
            background-color:#ec6b259e;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;

        }
        .shape_section p{
            text-align: center;
            margin-top: 10px;

        }
        #mentor-button{
            position: relative;
            top: 0px;
        }
        #mentor-button .btn2{
            position: absolute;
            top: 130px;
            left: 100px;
        }
        //- /MENTORSHIP SECTION END/
.body_wrapper 
    include _header
    section.doc_solution_area.pt-5.pb-5.mt-5
        .container
            .mini_row
                .row
                    .col-md-6.col-lg-6.mt-5.z-depth-1.wow.fadeInLeft(data-wow-delay='0.3s')
                        .d-block.ml-auto
                            h1
                                span(style='color:#EC6B25;') G
                                | et  
                                span(style='color:#EC6B25;') L
                                | ive 
                                span(style='color:#EC6B25;') M
                                | entorship
                            p
                                | This is a great course. It helped me a lot. Thank you ,This is a great
                                | course. It helped me a lot. Thank you ,In my opinin teacheres
                                | are best to solve doubts by one to one class
                            .banner_button.ml-0
                                a(href='/contact')
                                    button BooK Now
                                a(href='/contact')
                                    button.btn2 Learn More
                    .col-md-6.col-lg-6.z-depth-1.wow.fadeInRight(data-wow-delay='0.3s')
                        img.img-fluid(src='../img/mentor_new.png')
    section.doc_solution_area.pt-5.pb-5
        .container
            .row.z-depth-1.wow.fadeInLeft(data-wow-delay='0.3s')
                .col-md-4
                    .Classes
                        img.img-fluid(src='../img/Group 2234.png')
                        .classes_content
                            h4.text-center Connect with Mentor
                            p.text-justify
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Pretium sapien, ipsum eu et habitant arcu dignissim egestas
                                | ipsum.
                .col-md-4
                    .Classes
                        img.img-fluid(src='../img/Group 2264.png')
                        .classes_content
                            h4.text-center Advice From Experts
                            p.text-justify
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Pretium sapien, ipsum eu et habitant arcu dignissim egestas
                                | ipsum.
                .col-md-4
                    .Classes
                        img.img-fluid(src='../img/Group 2265.png')
                        .classes_content
                            h4.text-center Live Video Session
                            p.text-justify
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                | Pretium sapien, ipsum eu et habitant arcu dignissim egestas
                                | ipsum.
    section.doc_solution_area.pt-5.pb-5
        .container
            .row
                .col-md-6.z-depth-1.wow.fadeInLeft(data-wow-delay='0.3s')
                    .left_div
                        h2 Features
                        ul
                            li
                                | All StudenTS get access to all tse videos and also tse Sourcecode of tse projectss
                            li
                                | You will also save access to a private Discord csannel wsere youcan discuss your doubts
                            li
                                | You will also save access to a private Discord csannel wsere youcan discuss your doubts
                            li
                                | You will also save access to a private Discord csannel wsere youcan discuss your doubts
                            li
                                | You will also save access to a private Discord csannel wsere youcan discuss your doubts
                            li
                                | You will also save access to a private Discord csannel wsere youcan discuss your doubts
                            li
                                | You will also save access to a private Discord csannel wsere youcan discuss your doubts
                .col-md-6.z-depth-1.wow.fadeInRight(data-wow-delay='0.3s')
                    .right_div
                        img.img-responsive(src='../img/Group 2262.png')
    section.doc_solution_area.pt-5.pb-5
        .container
            .row
                .col-md-4.z-depth-1.wow.fadeInLeft(data-wow-delay='0.3s')
                    .shape_section
                        .round_shape
                        p
                            | All students get access to all the videos
                            br
                            |  and also tse source code.
                    .shape_section.mt-5
                        .round_shape
                        p
                            | All students get access to all the videos
                            br
                            |  and also tse source code.
                .col-md-4.z-depth-1.wow.fadeInUp(data-wow-delay='0.3s')
                    #mentor-button.banner_button
                        img(src='../img/Group 2228.png')
                        button.btn2(style='border: none;background: #fff;') Book Now
                .col-md-4.z-depth-1.wow.fadeInRight(data-wow-delay='0.3s')
                    .shape_section
                        .round_shape
                        p
                            | All students get access to all the videos
                            br
                            |  and also tse source code.
                    .shape_section.mt-5
                        .round_shape
                        p
                            | All students get access to all the videos
                            br
                            |  and also tse source code.
    section.doc_solution_area.pt-5.pb-5
        .container
            .row
                .col-md-6.z-depth-1.wow.fadeInRight(data-wow-delay='0.3s')
                    #wrapper
                        #style-default.scrollbar
                            .force-overflow
                        #style-1.scrollbar
                            .force-overflow
                            .review_content.bg-white
                                .review
                                    .row
                                        .col-md-8
                                            h5.text-white Sidharth smoky
                                            p.text-white 6th Class Student
                                        .col-md-4
                                            img(src='../img/Ellipse 1.png')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    | tempor incididunt ut labore et dolore magna aliqua.
                            .review_content.bg-white.mt-4
                                #review_bg.review
                                    .row
                                        .col-md-8
                                            h5.text-white Sidharth smoky
                                            p.text-white 6th Class Student
                                        .col-md-4
                                            img(src='../img/Ellipse 2.png')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    | tempor incididunt ut labore et dolore magna aliqua.
                            .review_content.bg-white.mt-4
                                .review
                                    .row
                                        .col-md-8
                                            h5.text-white Sidharth smoky
                                            p.text-white 6th Class Student
                                        .col-md-4
                                            img(src='../img/Ellipse 1.png')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    | tempor incididunt ut labore et dolore magna aliqua.
                            .review_content.bg-white.mt-4
                                #review_bg.review
                                    .row
                                        .col-md-8
                                            h5.text-white Sidharth smoky
                                            p.text-white 6th Class Student
                                        .col-md-4
                                            img(src='../img/Ellipse 2.png')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    | tempor incididunt ut labore et dolore magna aliqua.
                            .review_content.bg-white.mt-4
                                .review
                                    .row
                                        .col-md-8
                                            h5.text-white Sidharth smoky
                                            p.text-white 6th Class Student
                                        .col-md-4
                                            img(src='../img/Ellipse 1.png')
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    | tempor incididunt ut labore et dolore magna aliqua.
                .col-md-6.z-depth-1.wow.fadeInRight(data-wow-delay='0.3s')
                    .mt-4
                        h2 Whats Our Student Say
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua.
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua.
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua.
                        .banner_button.ml-0
                            a(href='/contact')
                                button BooK Now
    include _footer
// Back to top button
a#back-to-top(title='Back to Top')
include _js