doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon' href='img/ycylogo.png' type='image/x-icon')
    // Bootstrap CSS
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
    // icon css
    link(rel='stylesheet' href='assets/elagent-icon/style.css')
    link(rel='stylesheet' href='assets/animation/animate.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/responsive.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    title YCY
    style.
        .card-body .form-control{
            padding: 8px;
            border: 1px solid #cccccc;
            height: 45px;
        }

        .card-body label{
        color:#000;
        font-weight: 500;
        }

        .display_card{
        background-color: #cccccc5c;
            padding: 6px;
            margin-top: 10px;
            border-radius: 5px;
        box-shadow: rgb(0 0 0 / 16%) 0px 1px 0px;
        } 

        .display_card img{
            width: 200px;
            display: block;
            margin:auto;
        }
        .note_title h5{
            font-size: 16px;

        }
        .note_content p{
        margin:0px;
        font-size:13px;
        font-weight:200px;
        line-height:18px;
        }
.body_wrapper 
    include _header
    section.doc_solution_area.pt-5.pb-5.mt-5
        .container
            .mini_row
                .row
                    .col-md-6.col-lg-6.mt-5.z-depth-1.wow.fadeInLeft(data-wow-delay='0.3s')
                        .d-block.ml-auto
                            h1
                                span(style='color:#EC6B25;') O
                                | ne to  
                                span(style='color:#EC6B25;') O
                                | ne 
                                span(style='color:#EC6B25;') D
                                | oubt 
                                span(style='color:#EC6B25;') C
                                | lass
                            
                            .col-md-10.col-sm-10.p-2
                                h3(style="text-align:center")
                                    | Connect with a tutor in just less than 50 seconds and learn on live Video call anytime and anywhere with just one click. 
                                    span(style='color:#EC6B25;') 24x7

                            .banner_button.ml-0.mt-5
                                a(href='/student-call-request')
                                    button Student
                                a(href='teacher-request')
                                    button.btn2 Teacher
                    .col-md-6.col-lg-6.z-depth-1.wow.fadeInRight(data-wow-delay='0.3s')
                        img.img-fluid(src='./img/onetoone.png')
    section.doc_solution_area.pt-5.pb-5
        .container
            .row.z-depth-1.wow.fadeInLeft(data-wow-delay='0.3s')
                .col-md-4
                    .Classes
                        img.img-fluid(src='./img/Group 2234.png')
                        .classes_content
                            h4.text-center Write Your Doubt
                .col-md-4
                    .Classes
                        img.img-fluid(src='./img/Group 2264.png')
                        .classes_content
                            h4.text-center Connect with Tutor in 50 seconds
                .col-md-4
                    .Classes
                        img.img-fluid(src='./img/Group 2265.png')
                        .classes_content
                            h4.text-center Clear all your Doubts
    section.doc_solution_area.pt-5.pb-5
        .container
            .row
                .col-md-6.z-depth-1.wow.fadeInLeft(data-wow-delay='0.3s')
                    .left_div
                        h2 Features
                        ul
                            li.pb-2
                                h5| One-To-One class is there for students 24x7. 
                            li.pb-2
                                h5| Get your tutor without any delay within 50 seconds.
                            li.pb-2
                                h5| This is a platform where a student get a facility of one to one doubt solving.
                            li.pb-2
                                h5| Students cand find experts from reputed institutions/Colleges like Ravenshaw, Utkal, NIT, IIT.
                            li.pb-2
                                h5| Our experts make student comfortable with them so that student can confidently ask their doubt.
                            li.pb-2
                                h5| Our expert will try to explain all the theory about your doubt in a proper way which will help you to understand.

                .col-md-6.z-depth-1.wow.fadeInRight(data-wow-delay='0.3s')
                    .right_div
                        img.img-responsive(src='./img/Group 2263.png')
    // ---------------- OUR INSTRUCTOR SECTION START -----------
    //- .container-fluid.mt-4.pt-2.pb-5
    //-     h2.text-center Our Instructur
    //-     .slider
    //-         .user-card
    //-             img(src='img/Group 2196.png' alt='User image')
    //-             .user-info
    //-                 div
    //-                     h3 John Doe
    //-                     p Science Teacher
    //-                 button.btn Follow
    //-             .d-flex.justify-content-between
    //-                 i.fa.fa-graduation-cap.mt-1(aria-hidden='true')
    //-                 p 19 Course
    //-                 i.fa.fa-user-graduate.mt-1
    //-                 p 25,599 Students
    //-                 i.fa.fa-star.mt-1
    //-                 p 4.8
    //-         .user-card
    //-             img(src='img/Mask group.png' alt='User image')
    //-             .user-info
    //-                 div
    //-                     h3 John Doe
    //-                     p Chemistry Teacher
    //-                 button.btn Follow
    //-         .user-card
    //-             img(src='img/Group 2196.png' alt='User image')
    //-             .user-info
    //-                 div
    //-                     h3 John Doe
    //-                     p Chemistry Teacher
    //-                 button.btn Follow
    //-         .user-card
    //-             img(src='img/Mask group.png' alt='User image')
    //-             .user-info
    //-                 div
    //-                     h3 John Doe
    //-                     p Chemistry Teacher
    //-                 button.btn Follow
    //-         .user-card
    //-             img(src='img/Group 2196.png' alt='User image')
    //-             .user-info
    //-                 div
    //-                     h3 John Doe
    //-                     p Chemistry Teacher
    //-                 button.btn Follow
    //-         .user-card
    //-             img(src='img/Mask group.png' alt='User image')
    //-             .user-info
    //-                 div
    //-                     h3 John Doe
    //-                     p Chemistry Teacher
                    //- button.btn Follow
    // ---------------- OUR INSTRUCTOR SECTION END -----------
    section.doc_solution_area.pt-5.pb-5
        .container
            .row
                .col-md-6.z-depth-1.wow.fadeInLeft(data-wow-delay='0.3s')
                    #wrapper
                        #style-default.scrollbar
                            .force-overflow
                        #style-1.scrollbar
                            .force-overflow
                            .review_content.bg-white
                                .review
                                    .row
                                        .col-md-8
                                            h5.text-white Pravati PrustiPravati Prusti
                                            p.text-white 10th Class Student
                                        .col-md-4
                                            img(src='img/users/default.jpg') 
                                p
                                    | This class helped me solve my physics and chemistry doubts. It is a time saving app.
                            .review_content.bg-white.mt-4
                                #review_bg.review
                                    .row
                                        .col-md-8
                                            h5.text-white Asima Priyadarshini
                                            p.text-white JEE Aspirants
                                        .col-md-4
                                            img(src='img/users/default.jpg')
                                p
                                    | It's a brilliant platform for doubt solving.
                            .review_content.bg-white.mt-4
                                .review
                                    .row
                                        .col-md-8
                                            h5.text-white Rakesh Behera
                                            p.text-white Btech Student
                                        .col-md-4
                                            img(src='img/users/default.jpg')
                                p
                                    | It's a greate community for doubt clearing.
                            .review_content.bg-white.mt-4
                                #review_bg.review
                                    .row
                                        .col-md-8
                                            h5.text-white Chinmaya Kumar
                                            p.text-white Science Student
                                        .col-md-4
                                            img(src='img/users/default.jpg')
                                p
                                    | Yes its true that it helped me connect with tutor in 35 seconds.
                           
                .col-md-6.z-depth-1.wow.fadeInRight(data-wow-delay='0.3s')
                    .mt-4
                        h2 Whats Our Student Say
                        p
                            | It's a brilliant platform for doubt solving.
                        p
                            | It's a greate community for doubt clearing.
                            | This class helped me solve my physics and chemistry doubts. It is a time saving app.
                        p
                            | es its true that it helped me connect with tutor in 35 seconds.
                        .banner_button.ml-0
                            a(href='contact.html')
                                button Ask Now
    include _footer
// Back to top button
a#back-to-top(title='Back to Top')
include _js