doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon' href='img/favicon.ico' type='image/x-icon')
    // Bootstrap CSS
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
    // icon css
    link(rel='stylesheet' href='assets/elagent-icon/style.css')
    link(rel='stylesheet' href='assets/animation/animate.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/style-latest.css')
    link(rel='stylesheet' href='css/responsive.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
    title YCY
    
.body_wrapper 
    include _header
    section.breadcrumb_area.breadcrumb_area_four
        img.p_absolute.bl_left(src='img/v.svg' alt='')
        img.p_absolute.bl_right(src='img/home_one/b_leaf.svg' alt='')
        img.p_absolute.one.wow.fadeInRight(src='img/home_one/b_man_two.png' alt='')
       
    section.contact_area.sec_pad
        .container
            .section_title.text-left
                h2.h_title.wow.fadeInUp Review us !
           
            .review_info.p-5    
                form.form.review_form.form-student-review
                    .row.contact_fill
                        .col-lg-12.form-group
                            h6 Place Your Review
                            textarea(rows="7")#review_message.form-control.message(type='text' placeholder='Enter Your Review ...')
                        .col-lg-12.form-group
                            //- button.btn.action_btn.thm_btn(type='submit') Submit Review
                            button.btn.btn-primary(name='submit') Submit Review

    include _footer
    // Back to top button
    a#back-to-top(title='Back to Top')
include _js
script(src='/js/studentReview.js')