doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='shortcut icon' href='img/ycylogo.png' type='image/x-icon')
  // Bootstrap CSS
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
  // icon css
  link(rel='stylesheet' href='assets/elagent-icon/style.css')
  link(rel='stylesheet' href='assets/animation/animate.css')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='css/responsive.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
  title YCY
  style.
    .card-body .form-control {
    padding: 8px;
    border: 1px solid #cccccc;
    height: 45px;
    }
    .card-body label {
    color: #000;
    font-weight: 500;
    }
.body_wrapper
  include _header
  section.breadcrumb_area
    img.p_absolute.bl_right(src='img/home_one/b_leaf.svg' alt='')
    img.p_absolute.star(src='img/home_one/banner_bg.png' alt='')
    img.p_absolute.wave_shap_one(src='img/blog-classic/shap_01.png' alt='')
    img.p_absolute.wave_shap_two(src='img/blog-classic/shap_02.png' alt='')
    img.p_absolute.one.wow.fadeInRight(src='img/home_one/b_man_two.png' alt='')

  section.doc_solution_area.pt-5.pb-5

    .container
      .row.justify-content-center
        .col-md-6
          .card.pt-4.pb-4
            h2.card-title.text-center Note Upload
            .card-body.py-md-4
              form.form.form-upload-note(enctype="multipart/form-data")
                .form-field.subject.form-group
                  label.label Subject
                  select#subject.form-control
                    option(selected='') Pick A Subject
                    option(value='Math') Math
                    option(value='Physics') Physics
                    option(value='Biology') Biology
                    option(value='Accountancy') Accountancy
                    option(value='Business Study') Business Study
                    option(value='Economics') Economics
                    option(value='Current Affair') Current Affair
                    option(value='Reasoning') Reasoning
                    option(value='Quantitative Aptitude') Quantitative Aptitude
                    option(value='Business Studies') Business Studies
                    option(value='Sociology') Sociology
                    option(value='Political Science') Political Science
                    option(value='Current Affairs') Current Affairs
                    option(value='Environmental Science') Environmental Science 
                    option(value='English') English

                    option(value='Law') Law
                    option(value='Engineering') Engineering
                    option(value='Medical') Medical
                    option(value='Geography') Geography
                    option(value='Computer Science') Computer Science
                    option(value='History') History
                    option(value='Geology') Geology

                    option(value='Hindi') Hindi
                    option(value='General Knowledge') General Knowledge 
                    option(value='Odia') Odia
                    option(value='Science') Science
                    option(value='Social studies') Social studies
                                       
                    option(value='Indian Language') Indian Language
                    option(value='France') France
                    option(value='German') German
                    option(value='Spanis') Spanis
                    option(value='US History') US History

                    option(value='C') C
                    option(value='C++') C++
                    option(value='JAVA') JAVA
                    option(value='JAVASCRIPT') JAVASCRIPT
                    option(value='PYTHON') PYTHON
                    option(value='Data Structure') Data Structure
                    option(value='Tourism') Tourism
                    option(value='Mass Communication') Mass Communication
                    option(value='Introduction Law') Introduction Law
                    option(value='Urban Studies') Urban Studies

                  input#userId(type="hidden" value=`${user.id}`)
                .form-field.subject.form-group
                  label.label Class
                  select#className.form-control
                    option(selected='') Pick A Class
                    option(value='6th-8th') 6th-8th
                    option(value='9th-10th') 9th-10th
                    option(value='JEE/NEET') JEE/NEET
                    option(value='Science') Science
                    option(value='Commerce') Commerce
                    option(value='Arts') Arts
                    option(value='UPSC') UPSC
                    option(value='OPSC') OPSC
                    option(value='SSC') SSC
                    option(value='Railway') Railway
                    option(value='Banking') Banking
                    option(value='Computer Science') Computer Science
                    option(value='NDA') NDA
                .form-group
                  label Topic Name
                  input#name.form-control(type='text' placeholder='Name of the topic')
                .form-group
                  label.label Language
                  select#language.form-control
                    option(selected='') Pick A Language
                    option(value='Odia') Odia
                    option(value='Hindi') Hindi
                    option(value='English') English
                .form-group
                  label.label Upload Display Image
                  input#avtar.form-control(type='file' name='avtar')
                .form-group
                  label.label Upload Your Notes(PDF)
                  input#notespdf.form-control(type='file' name='notespdf') 
                button.text-center.banner_button.btn.btn-primary submit
        .col-md-6
          img.img-fluid(src='img/Group 2262.png')
  include _footer
include _js